@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
    list-style-type: none
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(179, 191, 191, 0.131);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',
        sans-serif;
}

main {
    background-color: rgba(235, 243, 243, 0.248);
    border: 1px solid white;
    height: 80vh;
    width: 95vw;
    max-width: 95vw;
    max-height: 80vh;
    padding: 3rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 9px 1rem rgb(104, 111, 111);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

aside {
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 1rem 0.2rem;
    width: 40%;
    max-height: calc(100%-6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.1rem solid rgb(104, 111, 111);
}

ul {
    font-family: 'Barlow Condensed',
        sans-serif;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 90%;
    align-items: flex-start;
}

ul::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
    height: 0.5rem;
}

ul::-webkit-scrollbar-thumb {
    background-color: rgb(104, 111, 111);
    height: 0.6rem;
    border-radius: 0.6rem;
}

li {
    background-color: rgb(104, 111, 111);
    margin: 0.5rem;
    padding: 0.3rem;
    width: 7rem;
    height: 5.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    color: rgba(248, 250, 250, 0.83);
    user-select: none;
    cursor: grab;
    width: fit-content;
    height: fit-content;
}

li span {
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(18, 19, 19, 0.981);
    letter-spacing: 2px;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0.5rem;
}

section {
    padding: 0 0.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

section::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
    height: 0.5rem;
}

section::-webkit-scrollbar-thumb {
    background-color: rgb(104, 111, 111);
    width: 0.3rem;
    height: 0.6rem;
    border-radius: 0.6rem;
}

table {
    font-family: 'Barlow Condensed',
        sans-serif;
    min-width: 100%;
    height: 100%;
    position: relative;
    text-transform: capitalize;
    border-collapse: collapse;
    user-select: none;
}

table col:not(:last-child) {
    border-right: 0.1rem solid rgb(104, 111, 111);
}

table tr:not(:last-child) {
    border-bottom: 0.1rem solid rgb(104, 111, 111);
}

table tr:nth-child(2) {
    background-color: rgb(179, 191, 191);
    position: sticky;
    top: 0;
}

.special {
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: rgb(104, 111, 111);
}

th {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem;
}

td {
    text-align: center;
    padding: 0.5rem;
    height: 5rem;
    min-height: max-content;
    min-width: max-content;
}


@media screen and (min-width:900px) {
    ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:400px) {
    main {
        flex-direction: column;
        overflow-y: scroll;
    }

    aside {
        height: 50%;
        width: 100%;
    }

    section {
        height: 50%;
        width: 100%;
    }
}

